<div>
  <app-tabs>
    <app-tab title="Timers">
      <app-timer *ngFor="let time of timers" init="{{time}}" (onComplete)="showEndTimerAlert()"></app-timer>
      <button class="add" (click)="showAddTimer()">+</button>
    </app-tab>
    <app-tab title="Cronos">
      Cronos not available
    </app-tab>
    <app-tab title="Alarm">
        Alarm not available
    </app-tab>
  </app-tabs>


  <app-alert-view [hidden]="!isAddTimerVisible">      
    <div header>Add new timer</div>    
    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number">
    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="submitAddTimer()">Ok</button>
  </app-alert-view>

  <app-alert-view [hidden]="!isEndTimerAlertVisible">      
    <div header>Timer Ended</div>      
    <label>Your countdown has finished</label>  
    <button (click)="hideEndTimerAlert()">Ok</button>  
  </app-alert-view>
</div>